<html>
<head>
    <link rel="stylesheet" href="/assets/bootstrap_v4a6a2/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/select2_v4a0a13/select2.min.css">
    <link rel="stylesheet" href="/assets/select2_v4a0a13/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/datatable_v2a1a0/dataTables.dataTables.min.css">
    <style>
        .container-fluid .col-md-8{
            background-color: #DAFF7F;
        }
    </style>
</head>

<body> <div class="container-fluid"><div class="row"><div class="col-md-2"></div><div class="col-md-8">
    <div class="row mt-4">
        <!-- cari -->
        <div class="col-md-6"><div class="row">
            <div class="col-md-4 form-group"><select type="text" class="form-control" id="cdgip-s1">
                <option val="Makanan">Makanan</option>
                <option val="Snack">Snack</option>
            </select> </div>
            <div class="col-md-4 form-group">
                <input type="number" class="form-control" id="cdgip-d1" placeholder="jumlah data">
            </div>
            <div class="col-md-4 form-group">
                <button id="cdgbtn-c1" class="btn btn-primary">Tampilkan</button>
            </div>
        </div> </div>
        <div class="col-md-6"><div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" 
                        title="NO! I'm Lazy to do it">Tambah Produk</button>
            </div>
            <div class="col-md-4"><a href="/download/c1data/xml" class="btn btn-primary">Export XML</a></div>
            <div class="col-md-4"><a href="/download/c1data/csv" class="btn btn-primary">Export Excel</a></div>
        </div> </div>
    </div>
    <div class="row"><div class="col-md-12" id="cdg-cont">
    </div> </div>

    <div class="row"><div class="col-md-12"><table id="cdg-tab" class="display" style="width:100%"><thead><tr>
        <th>id</th>
        <th>name</th>
        <th>score</th>
        <th>emotion</th>
        <th>created</th>
    </tr></thead> </table> </div> </div>

    <div class="row mb-4"><div class="col-md-12">
        <p>
            other query answer are on console. just ignore the warning</br>
            i know how to do CRUD but, im lazy to translate JSON into table SQL
        </p>
    </div></div>
</div> </div> </div> </body>

<script src="./assets/jquery_v3a7a1/jquery-3.7.1.min.js"></script>
<script src="./assets/bootstrap_v4a6a2/bootstrap.bundle.min.js"></script>
<script src="./assets/select2_v4a0a13/select2.full.min.js"></script>
<script src="./assets/datatable_v2a1a0/dataTables.min.js"></script>
<script src="./content.js"></script>
</html>
